<!doctype html>
<html>
<head>
    {% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div class="contentGrey" style="text-align: left">
        <form method="post"  >
            {% csrf_token %}
            <h1> Leave </h1>
            <table>
            {{ form_leave.as_table }}
            </table>
            <h3> </h3>
            <button class="buttonStyle">Edit Leave</button>
        </form>
    {% endblock content %}
</body>
</html>