<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentBanner" style="text-align: center"> <h1> Create Sales Line </h1> </div>
        <div class="contentGrey" style="text-align: left">

            <form method="POST" class="orderline-form">{% csrf_token %}
                {{ form.as_p }}
                <button class="buttonStyle">&nbsp;Add&nbsp;</button>
            </form>
        </div>
    {% endblock content %}
</body>
</html>