<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentBanner" style="text-align: center"> <h1> Sales </h1> </div>
        <div class="contentGrey">
            <a style="text-decoration: none;" href="{% url 'all_sales' %}">
                <button class="buttonStyleGeneral"> Sales </button></a>
            <a style="text-decoration: none;" href="{% url 'all_saleslines' %}">
                <button class="buttonStyleGeneral"> Sales Lines </button></a>
        </div>
    {% endblock content %}
</body>
</html>