<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Sales </h1>
            <div class="row">
                <div class="column">
                    <div>
                        <a href="{% url 'sale_new' %}" class="button">&nbsp;Create Sale&nbsp;</a>
                    </div>
                    <div>
                        <a href="{% url 'all_sales' %}" class="button">&nbsp;All Sales&nbsp;</a>
                    </div>
                    <div>
                        <a href="{% url 'all_saleslines' %}" class="button">&nbsp;All Saleslines&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>