<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
    {% load bootstrap3 %}
</head>
<body>
    {% block content %}
        <div class="contentBanner">
            <a style="text-decoration: none;" href="{% url 'prod_new' %}"> <button class="buttonStyle"> Create Production </button></a>
        </div>
        <div class="contentGrey">
        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
            </form>
        {% endif %}
        {% render_table production %}
        </div>
    {% endblock content %}
</body>
</html>
