<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Production </h1>
            <div class="row">
                <div class="column">
                    <div>
                        <a href="{% url 'prod_new' %}" class="button">&nbsp;Create Production&nbsp;</a>
                    </div>
                    <div>
                        <a href="{% url 'all_production' %}" class="button">&nbsp;All Production&nbsp;</a>
                    </div>
                    <div>
                        <a href="{% url 'all_prodlines' %}" class="button">&nbsp;All Production lines&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>