<!doctype html>
<html>
<head>
    {% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div class="contentBanner" style="text-align: center"> <h1> Production </h1> </div>
        <div class="contentGrey" style="text-align: left">
        <form method="post" d >
            {% csrf_token %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <fieldset disabled="true">
                <table>
                    {{ form_prod.as_table }}
                </table>
            </fieldset>
            <h1> Add Line </h1>
            {% if  show_line_form%}
                <table>
                    {{ form_orderline.as_table }}
                </table>
                <button class="save buttonStyle">Save</button>
            {% endif %}

        </form>
        <div class="contentGrey" >
            <form action="#" method="get">
                <input type="submit" class="buttonStyle" value="Add line" name="add_line">
            </form>
            <form action="#" method="get">
                <input type="submit" class="buttonStyle" value="Confirm Order" name="confirm_order">
            </form>
            <form action="#" method="get">
                <input type="submit" class="buttonStyle" value="Invoice Order" name="invoice_order">
            </form>
        </div>
        {% render_table prodlines %}
        </div>
    {% endblock content %}
</body>
</html>