<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentBanner" style="text-align: center"> <h1> Production </h1></div>
        <div class="contentGrey">
            <a style="text-decoration: none;" href="{% url 'all_production' %}">
                <button class="buttonStyleGeneral"> Production </button></a>
            <a style="text-decoration: none;" href="{% url 'all_prodlines' %}">
                <button class="buttonStyleGeneral"> Production Lines </button></a>
        </div>
    {% endblock content %}
</body>
</html>