<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <form method="post">
                {% csrf_token %}
                <h1>New Employee</h1>
                <h3>Employee Details</h3>
                {{ form_employee.as_p }}
                <h3>Employee Address</h3>
                {{ form_address.as_p }}
                <h3>Employee Pay Details</h3>
                {{ form_pay_details.as_p }}
                <button>Save</button>
            </form>
        </div>
    {% endblock content %}
</body>
</html>