<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
                <h1> Human Resources </h1>
                <a href="{% url 'all_employees' %}">All employees</a>
                <a href="{% url 'all_leave' %}">All employee leave</a>
                <a href="{% url 'all_roles' %}">All employee roles</a>
            </div>
        <div class="footer">
            footer
            </div>
    {% endblock content %}
</body>
</html>