<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <div>
                <h1> Human Resources </h1>
            </div><div>
                <h3> Employees </h3>
                <a class="button" href="{% url 'all_employees' %}">All Employees</a>
                <a class="button" href="{% url 'employee_new' %}">&nbsp;Create New Employee</a>
             </div><div>
                <a class="button" href="{% url 'all_pay' %}">All Pay</a>
            </div><div>
                <h3> Leave </h3>
                <a class="button" href="{% url 'all_leave' %}">All Leave</a>
            </div><div>
                <h3> Roles </h3>
                <a class="button" href="{% url 'all_roles' %}">All Roles</a>
                <a class="button" href="{% url 'role_new' %}">Create New Role</a>
            </div>
        </div>
    {% endblock content %}
</body>
</html>