<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <div>
                <h1> Human Resources </h1>
            </div><div>
                <a style="text-decoration: none;" href="{% url 'all_employees' %}"> <button class="buttonStyleGeneral"> Employees </button> </a>
                <a style="text-decoration: none;" href="{% url 'all_pay' %}"> <button class="buttonStyleGeneral"> Pay Details </button> </a>
                <a style="text-decoration: none;" href="{% url 'all_leave' %}"> <button class="buttonStyleGeneral"> Leave </button> </a>
                <a style="text-decoration: none;" href="{% url 'all_roles' %}"> <button class="buttonStyleGeneral" > Roles </button> </a>
            </div>
        </div>
    {% endblock content %}
</body>
</html>