<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div class="contentBanner">
        <div><h1>Product</h1></div>
        <div style="margin-right: 0;">
            <button class='buttonStyle' href="{% url 'product_new' %}">New Product</button>
        </div>
        </div>
        <div class="contentGrey">
                {% render_table prodtable %}
        </div>
    {% endblock content %}
</body>
</html>
