<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div class="contentBanner">
        <div><h1>Product</h1></div>
        </div>
        <div>
        <a class='buttonStyle' href="{% url 'product_new' %}">New Product</a>
        </div>
        <div class="contentGrey">
        <table class="table">
            <tr>
                {% render_table product %}
            </tr>
        </table>
        </div>
    {% endblock content %}
</body>
</html>