<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div>
            <h1> Product </h1>
            <button><a href="{% url 'product_new' %}">Create New Product</a></button>
            <div class="contentGrey">
                <table class="table">{% render_table product %}</table>
            </div>
        </div>

        <div class="footer">
            footer
            </div>
    {% endblock content %}
</body>
</html>
