<!doctype html>
<html>
<head>
    {% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div class="contentBanner" style="text-align: center">
            <h1>Employees</h1>
        </div>
        <div class="contentGrey" style="text-align: left">
            <a style="text-decoration: none;" href="{% url 'employee_new' %}"> <button class="buttonStyle"> Add Employee </button></a>
            {% render_table employees %}
        </div>
    {% endblock content %}
</body>
</html>
