<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Create Discount </h1>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form method="POST" class="discount-form">{% csrf_token %}
                {{ form.as_p }}
                <button class="save btn btn-default">Save</button>
            </form>
        </div>
    {% endblock content %}
</body>
</html>