<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Order Setup </h1>
            <div>
                <a class="button">&nbsp;Discount Types&nbsp;</a>
            </div>
            <div>
                <a class="button">&nbsp;Discount Values&nbsp;</a>
            </div>


            <div class="footer">
                © 2017 EZRP Team. Created as part of University of Newcastle Major Project
            </div>
    {% endblock content %}
</body>
</html>