<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Purchases </h1>
            <div class="row">
                <div class="column">
                    <div>
                        <a style="text-decoration: none;" href="{% url 'all_purchases' %}">
                            <button class="buttonStyleGeneral"> Purchases </button></a>
                        <a style="text-decoration: none;" href="{% url 'all_purchlines' %}">
                            <button class="buttonStyleGeneral"> Purchase Lines </button></a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>