<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Purchases </h1>
            <div class="row">
                <div class="column">
                    <div>
                        <a href="{% url 'purch_new' %}" class="button">&nbsp;Create Purchase&nbsp;</a>
                    </div>
                    <div>
                        <a href="{% url 'all_purchases' %}"  class="button">&nbsp;All Purchases&nbsp;</a>
                    </div>
                    <div>
                        <a href="{% url 'all_purchlines' %}" class="button">&nbsp;All Purchase lines&nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
</body>
</html>