
* {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 48px;
	font-style: italic;
	margin-left: 100px;
}
h2 {
	font-size: 48px;
	font-style: italic;
	margin-right: 100px;
	margin-left: 550px;
}
h3 {
	font-size: 24px;
	font-style: italic;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}
.banner {
	background: linear-gradient(#07450a, #0b6e10);
	height: 75px;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	min-width: 900px;
	padding: 0;
}
.banner ul {
	font-size: 0;
}
.banner ul li {

	width: 130px;
	font-size: 24px;
	color: white;
	text-align: center;
	line-height: 75px;
	height: 75px;
	display: inline-block;

}
.banner ul li:hover {
	background:linear-gradient(#053007, #095e0d);
	text-decoration: none;
	width: 124px;
	color: white;
	border-left: 3px ridge #0b6e10;
	border-right: 3px groove #0b6e10;
}
.banner ul li a,visited {
	text-decoration: none;
	display: block;
	color: white;

}
.banner ul li a:hover {
	text-decoration: none;
	color: white;

}
.banner ul li:hover ul  {
	display: block;
	position: absolute;
}
.banner ul ul {
	display: none;
	position: relative;
	border-top: 0;
	width: auto;
	border-left: groove #0b6e10;
	border-right: ridge #0b6e10;
	border-bottom: ridge #0b6e10;

}
.banner li ul li {
	background: #0b6e10;
	overflow: hidden;
	width: 130px;
	min-width: 110px;
	display: block;
	max-height: 0;
	border-top: groove #095e0d;
	transition: height 200ms ease;
	-moz-transition:height 200ms ease;

}
.banner ul > li:hover ul li {
    max-height:100px;
}
.tableStyle {
	text-decoration: none;
	font-size: large;

}
.tableStyle th {
	text-decoration: none;
	font-size: large;
}
.tableStyle th:visited {
	text-decoration: none;
}
.tableStyle tr {
	text-decoration: none;
	font-size: large;
}
.tableStyle tr.odd {
	text-decoration: none;
	font-size: large;
	background: rgba(11, 110, 16, 0.4);

}
.contentGreen {
	background-color: #555555;
	border-top: 5px solid #e4e4e4;
	min-height: 300px;
	width: 70%;
	margin: auto;
	min-width: 900px;
}
.contentGrey {
	border-top: 5px solid #e4e4e4;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	min-width: 900px;
}
.contentBanner {
	border-top: 5px solid #e4e4e4;
	min-height: 10px;
	width: 70%;
	margin: auto;
	min-width: 900px;
}
.footer {
	border-top: 5px solid #e4e4e4;
	background: linear-gradient(#07450a, #0b6e10);
	color: white;
	height: 100px;
	width: 70%;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	position: absolute;
	min-width: 900px;
}
.footer p{
	padding-left: 15px;
}
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	width: 115px;
	text-align: center;
	text-decoration: none;
	color: initial;
}
.buttonStyle {
	-webkit-appearance: button;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	appearance: button;
	height: 30px;
	width:150px;
	background: linear-gradient(#07450a, #0b6e10);
	text-decoration: none;
	color: white;
	border-radius: 8px;
	box-shadow: 0 1px 1px #777;
}
.buttonStyle:hover {
	background:linear-gradient(#053007, #095e0d);
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 5px 25px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
.buttonStyle:visited {
	text-decoration: none;
	color: white;
}
.buttonStyleGeneral {
	-webkit-appearance: button;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	background: linear-gradient(#07450a, #0b6e10);
	display:inline-block;
	text-decoration: none;
	width: 400px;
	height: 200px;
	margin: 10px;
	font-size: 24px;
	text-align: center;
	color: white;
	border-radius: 16px;
	right: 0;
	border-color: transparent;
	box-shadow: 0 1px 1px #777;
}
.buttonStyleGeneral:hover {
	background:linear-gradient(#053007, #095e0d);
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 5px 25px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}
.buttonStyleGeneral:visited {
	text-decoration: none;
	color: white;
}
a.buttonStylePage {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	padding: 10px;
	background: linear-gradient(#07450a, #0b6e10);
	text-decoration: none;
	width: 100px;
	color: white;
	border-radius: 5px;
	font-size: 72px;
	right: 0;
}
a.buttonStylePage:visited {
	text-decoration: none;
	color: white;
}
a.buttonStylePage:hover {
	text-decoration: none;
	color: white;
	background: #e4e4e4;
}
.column {
    float: left;
    width: 20%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
    @keyframes scaletranslate
	{
		0%   {transform: scale(0,0) translate(0,-1.8em);}
		95% {transform: scale(1.1,1.1) translate(0,0.8em);}
		100% {transform: scale(1,1) translate(0,0em);}
	}

@-o-keyframes scaletranslate
	{
		0%   {-o-transform: scale(0,0) translate(0,-1.8em);}
		95% {-o-transform: scale(1.1,1.1) translate(0,0.8em);}
		100% {-o-transform: scale(1,1) translate(0,0em);}
	}

@-moz-keyframes scaletranslate
	{
		0%   {-moz-transform: scale(0,0) translate(0,-1.8em);}
		95% {-moz-transform: scale(1.1,1.1) translate(0,0.8em);}
		100% {-moz-transform: scale(1,1) translate(0,0em);}
	}

@-webkit-keyframes scaletranslate {
	0% {
		-webkit-transform: scale(0, 0) translate(0, -1.8em);
	}
	95% {
		-webkit-transform: scale(1.1, 1.1) translate(0, 0.8em);
	}
	100% {
		-webkit-transform: scale(1, 1) translate(0, 0em);
	}
	}

img {
    max-width: 100%;
    max-height: 100%;
}


