h1 {
	font-size: 48px;
	font-style: italic;
	margin-left: 100px;
}
h2 {
	font-size: 48px;
	font-style: italic;
	margin-right: 100px;
	margin-left: 550px;
}
h3 {
	font-size: 24px;
	font-style: italic;
}
.banner {
	background: linear-gradient(#07450a, #0b6e10);
	height: 55px;
	width: 70%;
	margin: 0 auto;
	min-width: 900px;
	justify-content: center;
}
.banner ul{
	list-style-type: none;
	display: inline-block;
	width: 800px;
	margin: 0;
	padding: 0;
	position: absolute;
}
.banner ul li {
	width: 110px;
	font-size: 24px;
	color: white;
	text-align: center;
	line-height: 55px;
	height: 55px;
	display: inline-block;
	position: relative;
}
.banner ul li:hover {
	background:linear-gradient(#053007, #095e0d);
	text-decoration: none;
	color: white;

}
.banner ul li a,visited {
	text-decoration: none;
	display: block;
	color: white;

}
.banner ul li a:hover {
	text-decoration: none;
	color: white;

}
.banner ul li:hover ul {
	display: block;
	position: absolute;
}
.banner ul ul {
	display: none;
	position: relative;
	border: 3px solid #07450a;
	-moz-animation: 0.25s down;
	border-top: 0;
	width: auto;

}
.banner ul ul li {
	background: #0b6e10;
	width: 110px;
	min-width: 110px;
	display: block;

}
.tableStyle {
	text-decoration: none;
	font-size: large;

}
.tableStyle th {
	text-decoration: none;
	font-size: large;
}
.tableStyle th:visited {
	text-decoration: none;
}
.tableStyle tr {
	text-decoration: none;
	font-size: large;
}
.tableStyle tr.odd {
	text-decoration: none;
	font-size: large;
	background: rgb(11, 110, 16, 0.4);

}
.contentGreen {
	background:linear-gradient(#07450a, #0b6e10);
	border-top: 5px solid #e4e4e4;
	min-height: 300px;
	width: 70%;
	margin: auto;
	min-width: 900px;
}
.contentGrey {
	border-top: 5px solid #e4e4e4;
	min-height: 300px;
	width: 70%;
	margin: auto;
	min-width: 900px;
}
.contentBanner {
	border-top: 5px solid #e4e4e4;
	min-height: 10px;
	width: 70%;
	margin: auto;
	min-width: 900px;
}
.footer {
	border-top: 5px solid #e4e4e4;
	background: linear-gradient(#07450a, #0b6e10);
	color: white;
	height: 100px;
	width: 70%;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	min-width: 900px;
}
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	width: 115px;
	text-align: center;
	text-decoration: none;
	color: initial;
}
a.buttonStyle {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	padding: 10px;
	background: linear-gradient(#07450a, #0b6e10);
	text-decoration: none;
	width: auto;
	color: white;
	border-radius: 5px;
	right: 0;
}
a.buttonStyle:visited {
	text-decoration: none;
	color: white;
}
a.buttonStylePage {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	padding: 10px;
	background: linear-gradient(#07450a, #0b6e10);
	text-decoration: none;
	width: 100px;
	color: white;
	border-radius: 5px;
	font-size: 72 px;
	right: 0;
}
a.buttonStylePage:visited {
	text-decoration: none;
	color: white;
}
a.buttonStylePage:hover {
	text-decoration: none;
	color: white;
	background: #e4e4e4;
}
.column {
    float: left;
    width: 20%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@-moz-keyframes down {
	from { transform: scaleY(0); }
  	to   { transform: scaleY(1); }
	
}