<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
    {% load render_table from django_tables2 %}
    {% load static %}
</head>
<body>
    {% block content %}
        <div class="contentBanner" style="text-align: center">
            <h1> All Addresses </h1>
        </div>
        <div class="contentBanner">
            <a style="text-decoration: none" href="{% url 'address_new' %}"><button class="buttonStyle"> Add Address </button></a>
        </div>
        <div class="contentGrey">
        {% render_table addresses %}
        </div>
    {% endblock content %}
</body>
</html>
