<!doctype html>
<html>
<head>
{% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> General Setup </h1>
            <div>
                <a style="text-decoration: none;" href="{% url 'all_addresses' %}"> <button class="buttonStyleGeneral"> Addresses </button> </a>
                <a style="text-decoration: none;" href="{% url 'all_paydetails' %}"> <button class="buttonStyleGeneral">&nbsp;Pay Details&nbsp;</button> </a>

                <a style="text-decoration: none;" href="{% url 'all_parameters' %}"> <button class="buttonStyleGeneral">&nbsp;System Parameters&nbsp;</button> </a>

                <a style="text-decoration: none;" href="{% url 'about' %}"> <button class="buttonStyleGeneral">&nbsp;About&nbsp;</button> </a>
            </div>
        </div>
    {% endblock content %}
</body>
</html>