<!doctype html>
<html>
<head>
    {% extends "base/template.html" %}
</head>
<body>
    {% block content %}
        <div class="contentGrey">
            <h1> Parties </h1>
        </div>
        <div class="contentGreen">
            <h2> Stock </h2>
        </div>
        <div class="contentGrey">
            <h1> Product </h1>
        </div>
        <div class="contentGreen">
            <h2> Human Resources </h2>
        </div>
        <div class="contentGrey">
            <h2> Orders </h2>
        </div>
        <div class="footer">
            footer
        </div>
    {% endblock content %}
</body>
</html>
