<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>EZRP - Solution to your resource planning needs</title>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href={% static "style.css" %}>
</head>
<body style="background: #e4e4e4">
	<div class="banner">
		<ul>
			<li> <a href="{% url 'base_Main' %}"> Home </a> </li>
            <li> <a href="{% url 'base_General' %}"> General </a> </li>
			<li> <a>Party</a>
				<ul>
					<li> <a href="{% url 'customers' %}"> Customers </a> </li>
					<li> <a href="#"> Vendors </a> </li>
				</ul>
			</li>
			<li> <a href="{% url 'stock_Main' %}"> Stock </a> </li>
			<li> <a href="{% url 'product_Main' %}"> Product </a> </li>
			<li> <a href="{% url 'humanResources_Main' %}"> HR </a>
				<ul>
					<li> <a href="{% url 'all_employees' %}"> Employees </a> </li>
                    <li> <a href="{% url 'all_leave' %}"> Leave </a> </li>
                    <li> <a href="{% url 'all_roles' %}"> Roles </a> </li>
				</ul>
			</li>
			<li> <a> Orders </a>
				<ul>
					<li> <a href="{% url 'sales' %}"> Sales </a> </li>
					<li> <a href="{% url 'purchases' %}"> Purchases </a> </li>
                    <li> <a href="{% url 'setup' %}"> Setup </a> </li>
				</ul>
            </li>
		</ul>

	</div>

    <div id="content">
        {% block content %}{% endblock content%}
    </div>

    <div class="footer">
            © 2017 EZRP Team. Created as part of University of Newcastle Major Project
    </div>

</body>
</html>
